
<nav class="nav-bar" id="nav-bar">
  <ul class="list-con" id="list-con">
    <div class="epms" draggable="true">
      <i class="fas fa fa-bar-chart"></i> EPMS</div>
    <li class="list-menu"><a routerLink='/home'>
      <i class="fas fa fa-bar-chart"></i> Home</a>
    </li>
    <li class="list-menu"><a routerLink='/evaluate'>
      <i class="fas fa fa-pie-chart"></i> Evaluate</a>
    </li>
    <li class="list-menu"><a routerLink='/view'>
      <i class="fas fa fa-feed"></i> Report</a>
    </li>
    <li class="list-menu"><a routerLink="/comment">
      <i class="fas fa fa-comment"></i> Leave us a Message</a>
    </li>
    <li class="list-menu"><a href="#">
      <i class="fas fa fa-phone"></i> Help</a></li>
    <li class="list-menu"><a href="#">
      <i class="fas fa fa-toggle-off"></i> Mode</a>
    </li>
  </ul>
</nav>