<nav-bar></nav-bar>
<header class="header" id="header">
  <button id="toggle-menu"><i class="fas fa fa-bars"></i></button>
  <h1 class="epms-title" id="title">{{ title }}</h1>
  <div class="profile">
    <img src="" alt="">
  </div>
</header>

<!-- Main section goes here -->
<main class="main" id="main">

  <router-outlet></router-outlet>
  <!-- <home-root></home-root> -->
  <!-- <input type="color"> -->

  <!-- Comment Section starts here -->
<!-- <comment-sec></comment-sec> -->
<!-- Comment Section ends here -->

</main>
<!-- Main section ends here  -->

<!-- Footer Section starts here -->
<footer class="footer" id="footer">
  &copy; all rights reserved.
  <br /><br /><br />
  <i class="fa fas fa-facebook"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-twitter"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-linkedin"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-github"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-gitlab"></i>
</footer>
<!-- Footer Section ends here -->




<nav-bar></nav-bar>
<header class="header" id="header">
  <button id="toggle-menu"><i class="fas fa fa-bars"></i></button>
  <h1 class="epms-title" id="title">{{ title }}</h1>
  <div class="profile">
    <img src="" alt="">
  </div>
</header>

<!-- Main section goes here -->
<main class="main" id="main">

  <router-outlet></router-outlet>
  <!-- <home-root></home-root> -->
  <!-- <input type="color"> -->

  <!-- Comment Section starts here -->
<!-- <comment-sec></comment-sec> -->
<!-- Comment Section ends here -->

</main>
<!-- Main section ends here  -->

<!-- Footer Section starts here -->
<footer class="footer" id="footer">
  &copy; all rights reserved.
  <br /><br /><br />
  <i class="fa fas fa-facebook"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-twitter"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-linkedin"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-github"></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="fa fas fa-gitlab"></i>
</footer>
<!-- Footer Section ends here -->




