header.header {
    display: flex;
    position: fixed;
    margin-left: 230px;
    padding: 20px 1em;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px 1px #000;
    /* margin-bottom: 30px; */
}

.epms-title {
    flex-grow: 2;
    /* border: 5px solid red; */
}

.main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 1em;
    margin-left: 230px;
    /* border: 10px solid yellow; */
    height: 100%;
    object-fit: contain;
    /* color: azure; */
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)), url("../assets/images/img_154693_appraisalsystem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header,
.footer {
    text-align: center;
    color: #66f;
    background-color: #222;
}

.footer {
    /* position: relative; */
    margin-left: 230px;
    justify-content: space-around;
    padding: 3em 0;
    /* top: 100%; */
    bottom: 0;
    box-shadow: 0px -3px 5px 1px #000;
}