<div class="employee-list" style="padding: 1em 1em;">
    <h2 style="text-align: center;"> Employee List </h2>
    <hr>
</div>
<section class="dashboard">

  <div class="employee-card" *ngFor="let employee of employees">
    <div class="emp-title">
      <p>EMPLOYEE</p>
      <i class="fas fa fa-trash"></i>
    </div>
    <hr />
    <div class="emp-info">
      <div class="img">
        <i class="fas fa fa-user"></i>
        <!-- <img src="" alt="profile"> -->
      </div>
      <div class="info">
        <label for="emp_name">Name : {{ employee.emp_firstname }} </label>
        <label for="emp_email">Email : {{ employee.emp_email }} </label>
        <label for="emp_role">Role : {{ employee.emp_role }} </label>
      </div>
    </div>
  </div>

</section>

<!-- Students -->
<div class="employee-list" style="padding: 1em 1em;">
    <h2 style="text-align: center;"> Student List </h2>
    <hr>
</div>


<section class="dashboard">

    <div class="employee-card">
      <div class="emp-title">
        <p>STUDENTS</p>
        <i class="fas fa fa-trash"></i>
      </div>
      <hr />
      <div class="emp-info">
        <div class="img">
          <i class="fas fa fa-user"></i>
          <!-- <img src="" alt="profile"> -->
        </div>
        <div class="info">
          <label for="emp_name">Name : </label>
          <label for="emp_email">Email : </label>
          <label for="emp_role">Course : </label>
        </div>
      </div>
    </div>
  
    <div class="employee-card">
      <div class="emp-title">
        <p>STUDENTS</p>
        <i class="fas fa fa-trash"></i>
      </div>
  
      <hr />
      <div class="emp-info">
        <div class="img">
          <i class="fas fa fa-user"></i>
          <!-- <img src="" alt="profile" /> -->
        </div>
        <div class="info">
          <label for="emp_name">Name : </label>
          <label for="emp_email">Email : </label>
          <label for="emp_role">Course : </label>
        </div>
      </div>
    </div>
    <div class="employee-card">
      <div class="emp-title">
        <p>STUDENTS</p>
        <i class="fas fa fa-trash"></i>
      </div>
      <hr />
      <div class="emp-info">
        <div class="img">
          <i class="fas fa fa-user"></i>
          <!-- <img src="" alt="profile" /> -->
        </div>
        <div class="info">
          <label for="emp_name">Name : </label>
          <label for="emp_email">Email : </label>
          <label for="emp_role">Course : </label>
        </div>
      </div>
    </div>
    <div class="employee-card">
      <div class="emp-title">
        <p>STUDENTS</p>
        <i class="fas fa fa-trash"></i>
      </div>
      <hr />
      <div class="emp-info">
        <div class="img">
          <i class="fas fa fa-user"></i>
          <!-- <img src="" alt="profile" /> -->
        </div>
        <div class="info">
          <label for="emp_name">Name : </label>
          <label for="emp_email">Email : </label>
          <label for="emp_role">Course : </label>
        </div>
      </div>
    </div>
  </section>
  