<!-- Application home page -->
<section class="home-sec" id="home-sec">
  <div class="user-details" id="user-det">
    <div class="box" id="user-profile">
      <label for="user-profile"> User Profile </label>
      <hr />
      <div class="details">
        <i class="fas fa fa-user-circle-o"></i>
        <div class="info-container">
          <span
            >Full Name :
            <p class="username"></p>
          </span>
          <span
            >ID :
            <p class="user-id"></p>
          </span>
        </div>
      </div>
    </div>
    <div class="box" id="eval-report">
      <label for="Evaluation Perfomed"> Evaluation Perfomed </label>
      <hr />
      <div class="details">
        <i class="fas fa fa-bar-chart-o"></i>
        <div class="info-container">
          <span
            >Total Evaluation Done :
            <p class="Eval-total"></p>
          </span>
          <span
            >Description :
            <p class="desc"></p>
          </span>
        </div>
      </div>
    </div>
    <div class="box" id="eval-no">
      <label for="eval-report"> Evaluation Report </label>
      <hr />
      <div class="details">
        <i class="fas fa fa-send-o"></i>
        <div class="info-container">
          <span
            >Info :
            <p class="Other-info"></p>
          </span>
          <span
            >Extras :
            <p class="extras"></p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- <section> -->
    <div class="btn-container" style="display: flex; flex-direction: column">
      <button
        class="btn-review"
        style="width: 70em; height: 4.25em; margin: 1em auto"
      >
        See Review <i class="fas fa fa-tv"> </i>
      </button>
    </div>
    <!-- </section> -->

  <!-- <div class="user-details" id="user-det">
        <div class="box" id = "user-profile"></div>
        <div class="box" id = "eval-report"></div>
        <div class="box" id = "eval-no"></div>
    </div>

    <div class="user-details" id="user-det">
        <div class="box" id = "user-profile"></div>
        <div class="box" id = "eval-report"></div>
        <div class="box" id = "eval-no"></div>
    </div> -->

  <!-- <div class="btn-container user-details">
    <button class="btn-review">See Review</button>
  </div> -->
</section>


<style>
  @media screen and (max-width: 1492px) {
    .btn-review {
      width: 45em !important;
    }
  }

  @media screen and (max-width: 1060px) {
    .btn-review {
      width: 22em !important;
    }
  }
</style>
